{% extends 'base.html' %}
{% load static listing %}
{% load crispy_forms_tags %}

{% block head_title %}Bundel Dijual{% endblock %}
{% block content_title %}{% endblock %}

{% block content %}
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'dashboard_bundle' %}active{% endif %}" href="{% url 'dashboard_bundle' %}">Bundel Dijual</a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'dashboard_bought' %}active{% endif %}" href="{% url 'dashboard_bought' %}">Bundel Terjual</a>
        </li>
    </ul>

    <hr />

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-10 col-xl-8 col-12">
            <div class="d-flex w-100">
                <form action="{% url 'dashboard_bundle' %}" method="post" class="mr-auto w-100">
                    {% csrf_token %}

                    <div class="d-flex mb-2">
                        <div class="pr-2">
                            <div class="form-group mb-0">
                                <select name="coin_amount" class="form-control w-100 rounded-0x">
                                    <option value="" {% if not coin_amount %}selected{% endif %}>All</option>
                                    <option value="0" {% if coin_amount == '0' %}selected{% endif %}>Gratis</option>
                                    <option value="1" {% if coin_amount == '1' %}selected{% endif %}>Premium</option>
                                </select>
                            </div>
                        </div> <!-- /.col -->

                        <div>
                            <button type="submit" class="btn btn-warning btn-block rounded-0x">Saring</button>
                        </div> <!-- /.col -->
                    </div>
                </form>

                <div>
                    <a href="{% url 'dashboard_bundle_editor' %}" class="btn btn-success">Tambah</a>
                </div>
            </div>

            {% if messages %}
                <ul class="messages list-unstyled mt-2 mb-2">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }} mb-0"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="card mt-1">
                <div class="card-content">
                    <table class="table-sm-del table">
                        <thead>
                            <tr>
                                <th>Nama</th>
                                <th>Koin</th>
                                <th style="width:60px">Aksi</th>
                            </tr>
                        </thead>

                        {% for item in bundles_pagination %}
                            <tr>
                                <td>{{ item.label }}</td>
                                <td>{{ item.coin_amount }}</td>
                                <td>
                                    <a href="{% url 'dashboard_bundle_editor' item.id %}" class="btn btn-sm btn-primary">Edit</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

            {% if bundles_pagination.has_other_pages %}
                <div class="d-block w-100 mt-2">
                    {% pagination pagination %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">

    </script>
{% endblock %}