{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}Paket{% endblock %}
{% block content_title %}Paket {{ queryset.label }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-8 col-12">
            <a href="{% url 'dashboard_packet_editor' %}" class="btn btn-success">Tambah</a>

            {% if messages %}
                <ul class="messages list-unstyled mt-2 mb-2">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }} mb-0"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="card mt-1">
                <div class="card-content">
                    <table class="table-sm-del table">
                        <thead>
                            <tr>
                                <th>Nama</th>
                                <th>Kategori</th>
                                <th colspan="2" class="w-25">Aksi</th>
                            </tr>
                        </thead>

                        {% for item in packets %}
                            <tr>
                                <td>{{ item.label }}</td>
                                <td>{{ item.category.label }}</td>
                                <td>
                                    <a href="{% url 'dashboard_packet_editor' item.id %}" class="btn btn-sm btn-primary">Edit</a>
                                </td>
                                <td>
                                    <a href="{% url 'dashboard_question' item.id %}" class="btn btn-sm btn-info">Pertanyaan</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">

    </script>
{% endblock %}