{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}Pertanyaan{% endblock %}
{% block content_title %}Pertanyaan untuk <u><a href="{% url 'dashboard_question' packet.id %}">{{ packet.label }}</a></u>{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8 col-12">
            <div class="row">
                <div class="col-6 col-sm-4 col-md-3 mb-2">
                    <a href="{% url 'dashboard_question_editor' packet.id %}" class="btn btn-success h-100 d-flex align-items-center justify-content-center">Tambah</a>
                </div>

                {% for item in packet.theories.all %}
                    <div class="col-6 col-sm-4 col-md-3 mb-2">
                        <a href="{% url 'dashboard_theory_question_editor' packet.id item.id %}" class="btn {% if theory_id == item.id %}btn-dark{% else %}btn-success{% endif %} h-100 d-flex align-items-center justify-content-center">Tambah di {{ item.label }}</a>
                    </div>
                {% endfor %}

                <div class="col-6 col-sm-4 col-md-3 mb-2">
                    <a href="{% url 'dashboard_question_reorder' packet.id %}" class="btn btn-warning h-100 d-flex align-items-center justify-content-center">Reset Nomor</a>
                </div>
            </div>
        
            {% if messages %}
                <ul class="messages list-unstyled mt-2 mb-2">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }} mb-0"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="card mt-1">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <button type="submit" class="btn btn-success ml-0 mr-0">Import</button>
                    </form>
                </div>
            </div>

            <div class="card mt-1">
                <div class="card-content">
                    <table class="table-sm-del table">
                        <thead>
                            <tr>
                                <th>Nomor</th>
                                <th>Judul</th>
                                <th>Materi</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>

                        {% for item in questions %}
                            <tr>
                                <td>{{ item.numbering }}</td>
                                <td>{{ item.label }}</td>
                                <td>
                                    {% if item.theory %}
                                        <a href="{% url 'dashboard_theory_question' item.packet.id item.theory.id %}">
                                            {{ item.theory.label }}
                                        </a>
                                    {% else %}
                                        &mdash;
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{% url 'dashboard_question_editor' item.packet.id item.id %}" class="btn btn-sm btn-primary">Edit</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">

    </script>
{% endblock %}