{% extends 'base.html' %}
{% load humanize listing %}
{% block head_title %}Paket Try Out{% endblock %}
{% block content_title %}Paket Try Out{% endblock %}

{% block content %}
    {% if user.profile.is_empty%}
        <div class="alert alert-warning">
            Tidak diizinkan melihat halaman ini. Silahkan lengkapi profil Anda. <br />
            <a href="{% url 'profile' %}" class="btn btn-dark mt-1">Lengkapi Profil</a>
        </div>
    {% else %}
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link {% if not slug %}active{% endif %}" href="{% url 'bundle_list' %}">Paket Tersedia</a>
            </li>

            <li class="nav-item">
                <a class="nav-link {% if slug == 'enrolled' %}active{% endif %}" href="{% url 'bundle_list_enrolled' %}">Paket Saya</a>
            </li>
        </ul>

        {% if slug == 'enrolled' %}
            {% if not queryset.exists %}
                <p class="text-muted">Anda belum membeli paket apapun.</p>
            {% endif %}

            <div class="row">
                {% for item in queryset_pagination %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-3">
                        <div class="card bundle h-100 mb-0">
                            <div class="card-body d-flex w-100 flex-column position-relative">
                                {% if item.status == HOLD %}
                                    <div class="ribbon">
                                        <span class="ribbon-content warning">
                                            <span class="text-white">Hold</span>
                                        </span>
                                    </div>
                                {% endif %}

                                {% if item.status == ACTIVE %}
                                    <div class="ribbon">
                                        <span class="ribbon-content success">
                                            <span class="text-white">Aktif</span>
                                        </span>
                                    </div>
                                {% endif %}
                    
                                <h5 class="card-title">
                                    <a href="{% url 'packet_detail' item.packet.uuid %}">{{ item.packet.label|safe }}</a>
                                </h5>

                                <div class="d-block pb-1 meta">
                                    <p class="card-text d-flex w-100">
                                        <span class="mr-auto">Jumlah soal</span>
                                        <span>{{ item.question_total|intcomma|safe }} Soal</span>
                                    </p>

                                    <p class="card-text d-flex w-100">
                                        <span class="mr-auto">Jumlah materi</span>
                                        <span>{{ item.theory_total|intcomma|safe }} Materi</span>
                                    </p>

                                    <p class="card-text d-flex w-100">
                                        <span class="mr-auto">Jenis</span>
                                        <span>{{ item.packet.get_classification_display }}</span>
                                    </p>

                                    <p class="card-text d-flex w-100">
                                        <span class="mr-auto">Tipe Simulasi</span>
                                        <span>{{ item.x_simulation_type }}</span>
                                    </p>

                                    <p class="card-text d-flex w-100">
                                        <span class="mr-auto">Dimulai pada</span>
                                        <span>{{ item.x_start_date|date:'d-m-Y H:i' }}</span>
                                    </p>
                                </div>

                                <a href="{% url 'packet_detail' item.packet.uuid %}" class="btn btn-primary btn-sm text-uppercase mt-auto">
                                    <i class="bx bx-notepad"></i>
                                    Lihat
                                </a>
                            </div>
                        </div>
                    </div> <!-- /.col -->
                {% endfor %}
            </div> <!-- /.row -->
        {% endif %}

        {% if not slug %}
            {% if not queryset.exists %}
                <p class="text-danger">Semua paket sudah Anda beli.</p>
            {% endif %}

            <div class="row">
                {% for item in queryset_pagination %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-3">
                        <div class="card bundle h-100 mb-0">
                            <div class="card-body d-flex w-100 flex-column position-relative">
                                {% if not item.coin_amount %}
                                    <div class="ribbon">
                                        <span class="ribbon-content">
                                            <span class="text-white">Gratis</span>
                                        </span>
                                    </div>
                                {% endif %}
                                
                                <h5 class="card-title">
                                    <a href="{% url 'bundle_detail' item.uuid %}">{{ item.label|safe }}</a>
                                </h5>

                                <div class="meta d-block pb-1">
                                    <p class="card-text d-flex w-100">
                                        <span class="mr-auto">Harga</span>
                                        <span>
                                            {% if item.coin_amount %}
                                                {{ item.coin_amount|intcomma|safe }} Koin
                                            {% else %}
                                                Gratis
                                            {% endif %}
                                        </span>
                                    </p>

                                    <p class="card-text d-flex w-100">
                                        <span class="mr-auto">Isi Bundel</span>
                                        <span>{{ item.total_packet|intcomma|safe }} Paket</span>
                                    </p>

                                    <p class="card-text d-flex w-100">
                                        <span class="mr-auto">Tipe Simulasi</span>
                                        <span>{{ item.get_simulation_type_display }}</span>
                                    </p>
                                    
                                    <p class="card-text d-flex w-100">
                                        <span class="mr-auto">Dimulai pada</span>
                                        <span>
                                            {% if item.start_date %}
                                                {{ item.start_date|date:'d-m-Y H:i' }}
                                            {% else %}
                                                Kapan saja
                                            {% endif %}
                                        </span>
                                    </p>
                                </div>

                                <button type="button" class="btn btn-info btn-sm text-uppercase mt-auto"
                                    data-toggle="modal" data-target="#buyBundle" data-id="{{ item.id }}"
                                    data-coin="{{ item.coin_amount }}" data-backdrop="static"
                                    data-url="{% url 'bundle_detail' item.uuid %}">
                                    <i class="bx bx-cart"></i>
                                    Beli
                                </button>
                            </div>
                        </div>
                    </div> <!-- /.col -->
                {% endfor %}
            </div> <!-- /.row -->

            <!-- Modal -->
            <div class="modal fade" id="buyBundle" tabindex="-1" role="dialog" aria-labelledby="buyBundleTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="buyBundleTitle">Beli Paket</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="table-sm-del table table-borderless"> 
                                <tr>
                                    <td class="pl-0">Harga</td>
                                    <td class="pr-0 font-weight-bold text-right"><span id="coin-amount"></span> koin</td>
                                </tr>

                                <tr>
                                    <td class="pl-0">Koin Saya</td>
                                    <td class="pr-0 font-weight-bold text-right">{{ coin_amounts.total_active|intcomma|safe }} koin</td>
                                </tr>

                                <tr>
                                    <td class="pl-0">Informasi</td>
                                    <td class="pr-0 font-weight-bold text-right"><span id="allow-buy"></span></td>
                                </tr>
                            </table>

                            <div class="text-right">
                                <button type="button" id="buy-action" class="btn btn-info">OK. Beli Paket Ini</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if queryset_pagination.has_other_pages %}
            <div class="d-block w-100">
                {% pagination pagination %}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block js %}
    <script type="text/javascript">
        var current_coin = +'{{ coin_amounts.total_active }}';

        /***
         * Cookies
         */
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }


        /***
         * Prepare modal
         */
        $('#buyBundle').on('show.bs.modal', function(e) {
            var id = $(e.relatedTarget).data('id'),
                url = $(e.relatedTarget).data('url'),
                coin = +$(e.relatedTarget).data('coin'),
                coin_left = current_coin - coin,
                passed = current_coin >= coin ? true : false,
                message = current_coin >= coin ? 'Anda bisa membeli' : 'Koin tidak cukup';
            
            $(e.currentTarget).find('#coin-amount').html(coin);
            $(e.currentTarget).find('#allow-buy').html(message);
            $(e.currentTarget).find('#buy-action').attr('data-id', id).attr('data-coin', coin).attr('data-url', url);

            if (!passed) $('#buy-action').attr('disabled', true).hide();
        });


        /***
         * Buy!
         */
        $(document).on('click', '#buy-action', function(event) {
            event.preventDefault();

            var $this = $(this),
                url = $this.data('url'),
                bundle_id = +$this.data('id');

            $.ajax({
                method: 'POST',
                url: '/api/market/boughts/',
                headers: {'X-CSRFToken': getCookie('csrftoken')},
                data: {
                    bundle: bundle_id,
                },
                beforeSend: function(xhr) {
                    $this.attr('disabled', true);
                },
                success: function(response) {
                    Swal.fire({
                        type: 'success',
                        title: 'Pembelian Berhasil',
                        text: 'Sedang menyegarkan...',
                        showConfirmButton: false,
                        showCancelButton: false,
                        allowOutsideClick: false,
                        allowEscapeKey: false,
                    });

                    if (url) {
                        window.location.href = url;
                    } else {
                        window.location.reload();
                    }
                },
                error: function(error) {
                    $this.removeAttr('disabled');
                }
            });
        });
    </script>
{% endblock %}