{% extends 'base.html' %}
{% load humanize %}
{% load listing %}
{% block head_title %}Semua Poin Saya{% endblock %}
{% block content_title %}Semua Poin Saya{% endblock %}

{% block content %}
    <div class="mypoints">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 col-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center pb-50">
                        <h4 class="card-title">Riwayat Poin</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body p-0 pb-1">
                            {% if not points.exists %}
                                <p class="text-muted mb-0 text-center">Belum ada Poin.</p>
                            {% endif %}
                            
                            <ul class="list-group list-group-flush">
                                {% for item in points_pagination %}
                                    <li class="list-group-item list-group-item-action border-0 d-flex align-items-center justify-content-between">
                                        <div class="list-left d-flex">
                                            <div class="list-icon mr-1">
                                                {% if item.transaction_type == IN %}
                                                    <div class="avatar bg-rgba-success m-0">
                                                        <div class="avatar-content">
                                                            <i class="bx bx-chevrons-down text-success font-size-base"></i>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                                {% if item.transaction_type == OUT %}
                                                    <div class="avatar bg-rgba-danger m-0">
                                                        <div class="avatar-content">
                                                            <i class="bx bx-chevrons-up text-danger font-size-base"></i>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <div class="list-content">
                                                <span class="list-title">
                                                    {{ item.get_transaction_type_display|safe }}
                                                    {% if item.description %} &mdash; {{ item.description|safe }}{% endif %}
                                                </span>

                                                <small class="text-muted d-block">{{ item.date_created|date:'d-m-Y H:i'|safe }}</small>
                                            </div>
                                        </div>
                                        <span>{% if item.transaction_type == OUT %}-{% endif %}{{ item.amount|intcomma|safe }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div> <!-- KOIN -->

                {% if points_pagination.has_other_pages %}
                    <div class="d-block w-100">
                        {% pagination pagination %}
                    </div>
                {% endif %}
            </div> <!-- /.col -->
        </div> <!-- /.row -->
    </div>
{% endblock %}