{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block head_title %}Keamanan {{ user.username }}{% endblock %}
{% block content_title %}Halo <strong>{{ user.username }}</strong>{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-8">
            {% if messages %}
                <ul class="messages list-unstyled">
                    {% for message in messages %}
                        <li{% if message.tags %} class="alert
                            {% if message.tags == 'error' %}alert-danger{% endif %}
                            {% if message.tags == 'info' %}alert-success{% endif %}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="card">
                <div class="card-body">
                    <p>Kosongkan saja password jika tidak ingin merubahnya. Jika mengganti password Anda harus login kembali.</p>

                    <form action="{% url 'secure' %}" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary">Simpan</button>
                    </form>
                </div>
            </div> <!-- /.detail -->
        </div> <!-- /.col-lg-8 -->
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
 
    </script>
{% endblock %}
