{% extends 'base.html' %}
{% load static %}

{% block head_title %}Beranda{% endblock %}
{% block content_title %}Ranking Nasional{% endblock %}

{% block content %}
    <div class="main-content">
        <div class="card">
            <div class="card-body">
                <form action="{% url 'home' %}" method="post">
                    {% csrf_token %}

                    <div class="row mb-2">
                        <div class="col-6 col-sm-6 col-md-5">
                            <div class="form-group">
                                <label for="chance">Paket</label>
                                <select name="packet" class="form-control w-100 rounded-0">
                                    <option value="0">Semua Paket</option>
                                    {% for item in packets %}
                                        <option value="{{ item.id }}" {% if ranking_packet == item.id %}selected{% endif %}>{{ item.label }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        {% if packet %}
                            <div class="col-6 col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label for="chance">Materi</label>
                                    <select name="theory" class="form-control w-100 rounded-0">
                                        <option value="0">Semua Materi</option>
                                        {% for item in theories %}
                                            <option value="{{ item.theory_id }}" {% if ranking_theory == item.theory_id %}selected{% endif %}>{{ item.theory__label }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        {% endif %}
            
                        {% if simulation_count %}
                            <div class="col-6 col-sm-6 col-md-2">
                                <div class="form-group">
                                    <label for="chance">Simulai Ke?</label>
                                    <select name="chance" class="form-control w-100 rounded-0">
                                        {% for i in "x"|rjust:simulation_count %}
                                            <option value="{{ forloop.counter }}" {% if forloop.counter == ranking_chance %}selected{% endif %}>{{ forloop.counter }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div> <!-- /.col -->
                        {% endif %}

                        <div class="col-6 col-sm-6 col-md-2">
                            <label for="chance">&nbsp;</label>
                            <button type="submit" class="btn btn-warning btn-block rounded-0">Saring</button>
                        </div> <!-- /.col -->
                    </div>
                </form>
            
                {% if not answer_scores %}
                    <div class="alert alert-info mb-0">Anda belum memberikan filter. Pilih Paket terlebih dahulu.</div>
                {% else %}  
                    <table class="table table-striped text-center mb-0">
                        <thead>
                            <tr class="bg-light font-weight-bold">
                                <th>Ranking</th>
                                <th>Akun</th>
                                <th>Jawab Benar</th>
                                <th>Jawab Salah</th>
                                <th>Jawab Kosong</th>
                                <th>Skor Benar</th>
                                <th>Skor Salah</th>
                                <th>Skor Kosong</td>
                                <th>Total Skor</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for item in answer_scores %}
                                <tr class="{% if item.current_score %}bg-warning{% endif %}">
                                    <td>{{ forloop.counter0 | add:answer_scores.start_index }}</td>
                                    <th>{{ item.user__username }}</th>
                                    <td>{{ item.total_true_answer }}</td>
                                    <td>{{ item.total_false_answer }}</td>
                                    <td>{{ item.total_none_answer }}</td>

                                    <td>{{ item.true_answer_score }}</td>
                                    <td>{{ item.false_answer_score }}</td>
                                    <td>{{ item.none_answer_score }}</td>

                                    <td>{{ item.total_score }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div> <!-- /.container -->
{% endblock %}

{% block js %}
    <script type="text/javascript">

    </script>
{% endblock %}