{% extends 'templates/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}Bundel{% endblock %}
{% block content_title %}Bundel{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-8 col-12">
            <a href="{% url 'dashboard_bundle_editor' %}" class="btn btn-success">Tambah</a>

            {% if messages %}
                <ul class="messages list-unstyled mt-2 mb-2">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }} mb-0"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="card mt-1">
                <div class="card-content">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nama</th>
                                <th>Koin</th>
                                <th class="w-25">Aksi</th>
                            </tr>
                        </thead>

                        {% for item in bundles %}
                            <tr>
                                <td>{{ item.label }}</td>
                                <td>{{ item.coin_amount }}</td>
                                <td>
                                    <a href="{% url 'dashboard_bundle_editor' item.id %}" class="btn btn-sm btn-primary">Edit</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">

    </script>
{% endblock %}