{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block head_title %}Dashboard{% endblock %}
{% block content_title %}Dashboard{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-4 col-12">
            <div class="card text-center mb-2">
                <div class="card-content">
                    <div class="card-body py-1">
                        <div class="badge-circle badge-circle-lg badge-circle-light-info mx-auto mb-50">
                            <i class="bx bx-user font-medium-5"></i>
                        </div>
                        <div class="text-muted line-ellipsis">Total Pengguna</div>
                        <h3 class="mb-0">
                            {{ total_user|intcomma|safe }}
                        </h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-4 col-12">
            <div class="card text-center mb-2">
                <div class="card-content">
                    <div class="card-body py-1">
                        <div class="badge-circle badge-circle-lg badge-circle-light-info mx-auto mb-50">
                            <i class="bx bx-dollar font-medium-5"></i>
                        </div>
                        <div class="text-muted line-ellipsis">Total Topup</div>
                        <h3 class="mb-0">Rp {{ total_topup|intcomma|safe }}</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-4 col-12">
            <div class="card text-center mb-2">
                <div class="card-content">
                    <div class="card-body py-1">
                        <div class="badge-circle badge-circle-lg badge-circle-light-info mx-auto mb-50">
                            <i class="bx bx-target-lock font-medium-5"></i>
                        </div>
                        <div class="text-muted line-ellipsis">Total Affiliate</div>
                        <h3 class="mb-0">{{ total_affiliate|intcomma|safe }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">

    </script>
{% endblock %}